.dbox{
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.dColumn{
  flex-direction:column;
}
.wrap{
  flex-wrap:wrap;
}
.flex1{
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex2{
  box-flex: 2;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.flex3{
  box-flex: 3;
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.fl{
  float: left;
}
.rl{
  float: right;
}
.clearfix:after{
  visibility:hidden;
  clear:both;
  display:block;
  content:".";
  height:0
}
.clearfix{/*ie6/ie7*/
  *zoom:1;
}
a,.links{
  color:$my-link-color;
  text-decoration:none
}
a:hover,.links:hover{
  color:$my-theme-color;
}
.p10{
  padding: 10px;
}
.mb10{
  margin-bottom: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.bb{
  border-bottom: 1px solid $my-line-color;
}
.operation-btn{
  width: 100%;
  display: block;
}
/*底部菜单颜色*/
.van-tabbar-item--active{
  color: $my-theme-color !important;
}
/*复选框颜色*/
.van-checkbox__icon--checked .van-icon{
  border-color: $my-theme-color !important;
  background-color: $my-theme-color !important;
}
.header .van-nav-bar__left {
  left: 10px;
}
.header .van-nav-bar__text, .header .van-nav-bar .van-icon {
  color: $my-text-color;
}
.ly-card-radius{
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 5px;
}
.ly-card-radius-p10{
  background-color: #FFFFFF;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.ly-card{
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
.ly-card-p10{
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding: 10px;
}
.no-more,.no-more-data{
  height:50px;
  line-height: 50px;
  text-align: center;
  color: #ccc;
  margin-bottom: 50px;
}
.no-more:before{
  content: '已经到底啦~';
}
.no-more-data:before{
  content: '没有更多数据啦~';
}
.fn-text-2-30{
  @include fn-ellpisis(2,30px)
}
